<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dropship>
            <notification>
                <template>dropship_notification_template</template>
                <sender>general</sender>
                <recipient>vendor_email</recipient>
            </notification>
            <shipment_status>
                <default>0</default>
                <make_available>processing</make_available>
            </shipment_status>
            <batch_order_export>
                <shipment_statuses>0</shipment_statuses>
            </batch_order_export>
            <batch_order_import>
                <order_status>0</order_status>
            </batch_order_import>
        </dropship>
    </default>
</config>
