<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Shipping\Block\Adminhtml\View" type="Mageinn\Dropship\Block\Adminhtml\Shipping\View" />
    <preference for="Magento\Shipping\Controller\Adminhtml\Order\Shipment\View" type="Mageinn\Dropship\Controller\Adminhtml\Shipment\View" />
    <preference for="Magento\Shipping\Controller\Adminhtml\Order\Shipment\AddComment" type="Mageinn\Dropship\Controller\Adminhtml\Shipment\AddComment" />
    <preference for="Magento\Sales\Model\Order\Shipment" type="Mageinn\Dropship\Model\Shipment" />
    <preference for="\Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection" type="Mageinn\Dropship\Model\ResourceModel\Order\Shipment\Grid\Collection" />
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="\Mageinn\Dropship\Magento\Mail\Template\TransportBuilder"/>
    <type name="Mageinn\Dropship\Model\ResourceModel\Info\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageinn_dropship_information</argument>
            <argument name="resourceModel" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Info</argument>
        </arguments>
    </type>
    <type name="Mageinn\Dropship\Model\ResourceModel\User\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_user</argument>
            <argument name="resourceModel" xsi:type="string">Magento\User\Model\ResourceModel\User</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mageinn_dropship_grid_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Info\Grid\Collection</item>
                <item name="mageinn_dropship_form_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Info\Collection</item>
                <item name="mageinn_dropship_user_grid_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\User\Grid\Collection</item>
                <item name="mageinn_batches_grid_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Batch\Grid\Collection</item>
                <item name="mageinn_batches_view_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Batch\Collection</item>
                <item name="mageinn_regions_data_source" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Region\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="vendor_quote_to_order_item" type="Mageinn\Dropship\Model\Plugin\Quote\QuoteToOrderItem"/>
    </type>
    <virtualType name="ShipmentGridAggregator">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="vendor_id" xsi:type="string">sales_shipment.vendor_id</item>
                <item name="dropship_status" xsi:type="string">sales_shipment.dropship_status</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mageinn\Dropship\Model\ResourceModel\Batch\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageinn_dropship_batch</argument>
            <argument name="resourceModel" xsi:type="string">Mageinn\Dropship\Model\ResourceModel\Batch</argument>
        </arguments>
    </type>
</config>
