<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_set_product">
        <observer name="quote_mageinn_dropship_id" instance="Mageinn\Dropship\Observer\QuoteVendor"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="mageinn_dropship_checkout_submit_all_after" instance="Mageinn\Dropship\Observer\AutomaticShipment"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="mageinn_dropship_shipment_save" instance="Mageinn\Dropship\Observer\ShipmentEmail"/>
    </event>
</config>
