<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_prepare_price_select">
        <observer name="price_builder" instance="Iredeem\Core\Observer\Price" />
    </event>
</config>