<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iredeem_Vendor::vendor" title="Dropship" translate="title" module="Iredeem_Vendor"
             sortOrder="20" parent="Magento_Sales::sales" resource="Iredeem_Vendor::dropship"
             dependsOnModule="Magento_Sales" />
        <add id="Iredeem_Vendor::vendor_vendors" title="Vendors" translate="title" module="Iredeem_Vendor" sortOrder="100"
             parent="Iredeem_Vendor::vendor" action="sales/vendor" resource="Iredeem_Vendor::vendors"/>
        <add id="Iredeem_Vendor::vendor_batches" title="Batches" translate="title" module="Iredeem_Vendor" sortOrder="200"
             parent="Iredeem_Vendor::vendor" action="sales/batches" resource="Iredeem_Vendor::vendors"/>

        <add id="Iredeem_Vendor::vendor_stock" title="Products Stock" translate="title" module="Iredeem_Vendor" sortOrder="201"
             parent="Iredeem_Vendor::vendor" action="product/stock" resource="Iredeem_Vendor::product_stock"/>
    </menu>
</config>
