<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageinn_Dropship::vendor" title="Dropship" translate="title" module="Mageinn_Dropship"
             sortOrder="20" parent="Magento_Sales::sales" resource="Mageinn_Dropship::dropship"
             dependsOnModule="Magento_Sales" />
        <add id="Mageinn_Dropship::vendor_vendors" title="Vendors" translate="title" module="Mageinn_Dropship" sortOrder="100"
             parent="Mageinn_Dropship::vendor" action="sales/vendor" resource="Mageinn_Dropship::vendors"/>
        <add id="Mageinn_Dropship::vendor_batches" title="Batches" translate="title" module="Mageinn_Dropship" sortOrder="200"
             parent="Mageinn_Dropship::vendor" action="sales/batches" resource="Mageinn_Dropship::vendors"/>

        <add id="Mageinn_Dropship::vendor_stock" title="Products Stock" translate="title" module="Mageinn_Dropship" sortOrder="201"
             parent="Mageinn_Dropship::vendor" action="product/stock" resource="Mageinn_Dropship::product_stock"/>
    </menu>
</config>
