<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dropship" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dropship</label>
            <tab>iredeem_configuration</tab>
            <resource>Mageinn_Dropship::vendor_configuration</resource>
            <group id="shipment_status" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Shipment Statuses</label>
                <field id="default" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Vendor Shipment Status</label>
                    <source_model>Mageinn\Dropship\Model\Source\ShipmentStatus</source_model>
                    <comment>Select shipment status upon order creation. By default status is "Pending".</comment>
                </field>
                <field id="make_available" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Make Available to Dropship on Order Status(es)</label>
                    <comment>Select one or multiple statuses that the order should reach before notifying vendors. By default "Processing".</comment>
                    <source_model>Mageinn\Dropship\Model\Source\OrderStatus</source_model>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Vendor Shipment Notification</label>
                <field id="template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notification Template</label>
                    <comment>Choose email template to notify vendor about order</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notification Sender</label>
                    <comment>Specify email address that vendor receives email from</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="recipient" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notification Recipient</label>
                    <comment>Chose vendor email to send order</comment>
                    <source_model>Mageinn\Dropship\Model\Source\DropshipNotificationRecipient</source_model>
                </field>
            </group>
            <group id="batch_order_export" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Batch Orders Export</label>
                <field id="shipment_statuses" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Export On Shipment Statuses</label>
                    <comment>Select which shipment status triggers an export.</comment>
                    <source_model>Mageinn\Dropship\Model\Source\ShipmentStatus</source_model>
                </field>
                <field id="notification_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Notification template</label>
                    <comment>Choose email template for the exported batch.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_sender" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Email Sender</label>
                    <comment>The default email to use to send the exported batch.</comment>
                    <validate>validate-email</validate>
                </field>
                <field id="email_subject" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Email Subject</label>
                    <comment>The default subject line to use for the exported batch.</comment>
                </field>
                <field id="file_name" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Export Orders Filename</label>
                    <comment>The default filename to use for the exported batch.</comment>
                </field>
            </group>
            <group id="batch_order_import" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Batch Orders Import</label>
                <field id="order_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Change Shipment Status on Import</label>
                    <source_model>Mageinn\Dropship\Model\Source\ShipmentStatus</source_model>
                    <comment>Once shipment imported then status will be changed automatically</comment>
                </field>
            </group>
        </section>
    </system>
</config>
